<ion-header>
   <ion-toolbar color="primary"> 
     <ion-title>Datos</ion-title> 
   </ion-toolbar> 
 </ion-header> 
  
 <ion-content style="width: 95%;" class="centrado"> 
   <ion-list> 
     <ion-item> 
       <ion-label position="floating">Título</ion-label> 
       <ion-input [(ngModel)]="libro.titulo"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">Autor</ion-label> 
       <ion-input [(ngModel)]="libro.autor"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">Editorial</ion-label> 
       <ion-input [(ngModel)]="libro.editorial"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">ISBN</ion-label> 
       <ion-input [(ngModel)]="libro.isbn"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">Año</ion-label> 
       <ion-input [(ngModel)]="libro.year"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">Precio</ion-label> 
       <ion-input [(ngModel)]="libro.precio"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">Stock</ion-label> 
       <ion-input [(ngModel)]="libro.stock"></ion-input> 
     </ion-item> 

     <ion-item> 
       <ion-label position="floating">Idioma</ion-label> 
       <ion-input [(ngModel)]="libro.idioma"></ion-input> 
     </ion-item> 

     <ion-item> 
       <ion-label position="floating">Categoría</ion-label> 
       <ion-input [(ngModel)]="libro.categoria"></ion-input> 
     </ion-item> 
  
   </ion-list> 
   <br>
  <div style="text-align: center;">
    <ion-button (click)="guardar()" color="success">Guardar</ion-button> 
  </div>
   
 </ion-content>
