.centrado{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: auto !important;; 
    flex-direction: column !important;
}

ion-list{
    width: 80% !important;
    margin: 2rem auto 2rem auto !important;
    
}

ion-item {
    margin: 0% 0% 0% 0% !important;
    width: 100% !important;
    
}

.formu{
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid #ffffff !important;
    border-radius: 1% !important;
}

.formu ion-item{
    padding: -2% !important;
    margin: 0% 0% 0% 0% !important;
    width: 100% !important;
}

.titu{
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: #ffffff !important;
    margin: 1rem 2rem !important;
    padding: 0% 0% 0% 0% !important;
}