.centrado{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: auto !important;; 
    flex-direction: column !important;
}

ion-list{
    width: 80% !important;
    margin: 2rem auto 2rem auto !important;
}

ion-item {
    margin: 0% 0% 0% 0% !important;
    width: 100% !important;
}