<ion-header>
   <ion-toolbar color="primary"> 
     <ion-title>Modificar o crear libro</ion-title> 
   </ion-toolbar> 
 </ion-header> 
  
 <ion-content> 
   <ion-list> 
     <ion-item> 
       <ion-label position="floating">Título</ion-label> 
       <ion-input [(ngModel)]="libro.titulo"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">Autor</ion-label> 
       <ion-input [(ngModel)]="libro.autor"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">Editorial</ion-label> 
       <ion-input [(ngModel)]="libro.editorial"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">ISBN</ion-label> 
       <ion-input [(ngModel)]="libro.isbn"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">Año</ion-label> 
       <ion-input [(ngModel)]="libro.year"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">Precio</ion-label> 
       <ion-input [(ngModel)]="libro.precio"></ion-input> 
     </ion-item> 
  
     <ion-item> 
       <ion-label position="floating">Stock</ion-label> 
       <ion-input [(ngModel)]="libro.stock"></ion-input> 
     </ion-item> 

     <ion-item> 
       <ion-label position="floating">Idioma</ion-label> 
       <ion-input [(ngModel)]="libro.idioma"></ion-input> 
     </ion-item> 

     <ion-item> 
       <ion-label position="floating">Categoría</ion-label> 
       <ion-input [(ngModel)]="libro.categoria"></ion-input> 
     </ion-item> 
  
   </ion-list> 
  
   <ion-button expand="block" (click)="guardar()">Guardar</ion-button> 
   <!-- delete -->
    <ion-button expand="block" color="danger" (click)="borrar()">Borrar</ion-button>
 </ion-content>
