<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item button *ngFor="let item of libros" [routerLink]="[item.isbn]">
      <ion-avatar slot="start">
        <img src="../../assets/imgs/libroBlanco.png" />
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3>{{ item.titulo }}</h3>
        <p>{{ item.autor }}</p>
      </ion-label>

      <ion-badge slot="end"> {{ item.vote_average }} </ion-badge>
    </ion-item>
  </ion-list> -->
  <!-- button refresh -->
  <app-tablalibros>

  </app-tablalibros>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>